BOT_TOKEN=
PARTNER_API_KEY=PRTNR-...
PARTNER_API_BASE=https://api.thegodapishop.xyz
DATABASE_URL=sqlite+aiosqlite:///./data.db
MARKUP_PERCENT=15
ADMIN_IDS=123456789
LOG_LEVEL=INFO
RATE_LIMIT_PER_SEC=8
STEAM_MIN_AMOUNT=100
STEAM_MAX_AMOUNT=15000
PROXY_URL=

# Платёжные системы (опционально)
CRYPTOBOT_TOKEN=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

